@model IEnumerable<CategoryDropdownModel>


@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@if (TempData["CategoryAdded"] != null)
{
    <div>Good</div>
    <script>
        Swal.fire({
            title: 'Success!',
            text: '@TempData["ProductDeleted"]',
            icon: 'success',
            confirmButtonText: 'OK'
        });
    </script>
}
@if (TempData["CategoryNotAdded"] != null)
{
    <script>
        Swal.fire({
            title: 'Error!',
            text: '@TempData["ProductNotDeleted"]',
            icon: 'error',
            confirmButtonText: 'OK'
        });

    </script>
}

<h1>GetAll Shoes</h1>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="Add" asp-route-CategoryId="@item.CategoryId">Edit</a> |
                    <a asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-CategoryId="@item.CategoryId">
                        Delete
                    </a>
            </td>x
        </tr>
}
    </tbody>
</table>
